/* palette */
:root {
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-bottom: #0061ff;
	--color-box-big: #f5f5f5;
}

/* reset */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container-large
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 70px 0;
    position: relative;
}

.container-main
{
    max-width: 1000px;
    margin: 0px auto;
    padding: 60px 0;
}

.debug
{
    border: 1px solid lightslategray;
}

h2
{
    font-size: 2.8em;
}

h3
{
    font-size: 1.6em;
}

ul
{
    list-style: none;
}

img
{
    display: block;
}

button
{
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    background-color: white;
}
.btn-dark
{
    background-color: var(--color-bg-bottom);
    color: var(--color-bg-main);
}
.btn-light
{
    background-color: var(--color-bg-main);
}

/* flex-utilities */
.d-flex
{
    display: flex;
    flex-flow: row wrap;
}


.column-flex
{
    display: flex;
    flex-flow: column wrap;
}

.j-between
{
    justify-content: space-between;
}

.j-center
{
    justify-content: center;
}
.a-center
{
    align-items: center;
    align-content: center;
}
.flex-start
{
    align-items: flex-start;
    align-content: flex-start;
}

.stretch
{
    align-items: stretch;
}
/* utilities */
.translation
{
    transform: translateY(50px);
}

.t-center
{
    text-align: center;
}

.fluid
{
    width: 100%;
}

/* HEADER */
header
{
    font-size: 0.9em;
    position: relative;
}

/* navbar */
nav
{
    padding: 5px;
    width: 100%;
    height: 48px;
    position: fixed;
    z-index: 1000;
    background-color: var(--color-bg-main);
}
nav ul li
{
    padding: 0 20px;
}

nav a
{
    text-decoration: none;
    color: var(--color-bg-footer);
}

/* sezione jumbo */
header section 
{
    padding-top: 48px;
    background-color: var(--color-bg-hero);
}

h1
{
    font-size: 5em;
}
/* right */
section .big
{
    width: 65%;
    min-width: 500px;
}

/* left */
section .little
{
    max-width: 450px;
    width: 35%;
}

.little div
{
    padding: 25px 0;
}

.little i
{
    padding-top: 120px;
    font-size: 3em;
}
.little p
{
    line-height: 1.5em;
}

/* MAIN */
main
{
    padding-top: 20px;
}
/* SECTION 1 */
.radio
{
    padding: 50px 50px 50px 0;
    display: inline-block;
}
.column
{
    width: calc(100% / 3 - 40px);
    margin: 0 40px 0 0;
    min-width: 200px;
}

.column > div:first-child, .h-column > div:first-child
{
    padding: 8px 0;
    border-bottom: 1px solid lightslategray;
}

.info-body
{
    padding: 30px 30px 0px 30px;
}

.info-section
{
    padding: 0 0 35px 0;
}

.spacial
{
    padding: 14px 0;
}

.pay-time
{
    opacity: 0.5;
}

.column button
{
    width: 100%;
}

.info-section hr
{
    width: 15%;
}

.focus-points ul li
{
    padding: 10px 0;
}

.focus-points i
{
    color: var(--color-bg-bottom);
}

.h-column
{
    margin: 0 40px 0 0;
    margin-top: 40px;
    width: 100%;
}

.h-column h3
{
    padding-bottom: 14px;
}

.square-left
{
    width: 60%;
    min-width: 300px;
}

.square-right
{
    max-width: 400px;
    min-width: 300px;
}


.description
{
    padding: 50px;
}

.description p 
{
    padding: 17px 0 35px 0;
    font-size: 1.1em;
}

.btn3
{
    border: 1px solid black;
}

/* section 3 */
.card
{
    width: calc(100% / 3 - 50px);
    margin-right: 50px;
    padding: 20px 0;
}
.card h3
{
    padding-bottom: 12px;
}

.wrapper
{
    padding: 40px 0 0 0;
}





