/* palette */
:root {
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-bottom: #0061ff;
	--color-box-big: #f5f5f5;
}

.box1
{
    background-color: var(--color-box-1);
}
.box2
{
    background-color: var(--color-box-2);
}
.box3
{
    background-color: var(--color-box-5);
}
.box4
{
    background-color: var(--color-box-6);
}
.box5
{
    background-color: var(--color-box-3);
}
.box6
{
    background-color: var(--color-box-4);
}
.box7
{
    background-color: var(--color-box-7);
}
.box8
{
    background-color: var(--color-box-8);
}

/* reset */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
main
{
    padding-top: 30px;
}
main section
{
    padding: 50px 0;
}
.container-large
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 70px 0;
    position: relative;
}
.container-main
{
    max-width: 1000px;
    margin: 0px auto;
}
.debug
{
    border: 1px solid lightslategray;
}
h2
{
    font-size: 2.8em;
}
section h2{
    padding-bottom: 40px;
}
h3
{
    font-size: 1.6em;
}
ul
{
    list-style: none;
}
img
{
    display: block;
}
button
{
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    background-color: white;
}
.btn-dark
{
    background-color: var(--color-bg-bottom);
    color: var(--color-bg-main);
}
.btn-light
{
    background-color: var(--color-bg-main);
}

/* Hover Effect */
.square-mini:hover
{
    box-shadow: inset 0 0 10px 12px var(--color-bg-main);
}
.btn-dark:hover
{
    background-color: #0057E5;
}
.btn-light:hover, .btn3:hover
{
    background-color: #F3EEE8;
}

/* flex-utilities */
.d-flex
{
    display: flex;
    flex-flow: row wrap;
}
.column-flex
{
    display: flex;
    flex-flow: column wrap;
}
.j-between
{
    justify-content: space-between;
}
.j-center
{
    justify-content: center;
}
.a-center
{
    align-items: center;
    align-content: center;
}
.a-baseline
{
    align-items: baseline;
}
.flex-start
{
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}
.stretch
{
    align-items: stretch;
}

/* utilities */
.translation
{
    transform: translateY(50px);
}
.t-center
{
    text-align: center;
}
.fluid
{
    width: 100%;
}

/* navbar */
nav
{
    padding: 0 5px;
    width: 100%;
    min-height: 60px;  
    position: fixed;
    z-index: 1000;
    background-color: var(--color-bg-main);
}
nav a
{
    text-decoration: none;
    color: var(--color-bg-footer);
    padding: 0px 16px;
    display: inline-block;
    line-height: 60px;
}
.subnav-content
{
    display: none;
}
.subnav:hover .subnav-content
{
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1000;
    width: 100%;
    padding: 10px;
}
.subnav:hover .btn
{
    background-color: lightslategray;
}
.subnav:hover .subnav-content
{
    background-color: lightslategray;
}
.subnav-content a:hover 
{
    background-color: var(--color-box-8);
}

/* sezione jumbo */
header section 
{
    padding-top: 60px;
    background-color: var(--color-bg-hero);
    position: relative;
}

h1
{
    font-size: 5em;
}
/* right */
section .big
{
    width: 65%;
    min-width: 500px;
}

/* left */
section .little
{
    max-width: 450px;
    width: 35%;
}

.little div
{
    padding: 25px 0;
}

.little i
{
    font-size: 3em;
    padding-top: 15px;
    color: black;
}
.little p
{
    line-height: 1.5em;
}

/* SECTION 1 */
.radio
{
    display: inline-block;
    padding: 0 0 40px 0;
}
.radio label
{
    margin-right: 20px;
}
.column
{
    width: 30%;
    min-width: 200px;
}
.column > div:first-child, .h-column > div:first-child
{
    padding: 8px 0;
    border-bottom: 1px solid lightslategray;
}
.info-body
{
    padding: 30px 30px 0px 30px;
}
.info-section
{
    padding: 0 0 35px 0;
}
.spacial
{
    padding: 14px 0;
}
.pay-time
{
    opacity: 0.5;
}
.column button
{
    width: 100%;
}
.info-section hr
{
    width: 15%;
}
.focus-points ul li
{
    padding: 14px 0;
}
.focus-points i
{
    color: var(--color-bg-bottom);
}
.h-column
{
    margin-top: 40px;
    width: 100%;
}
.h-column h3
{
    padding-bottom: 14px;
}
/* SECTION 2 */
.square-left
{
    width: 60%;
    min-width: 300px;
}

.square-right
{
    max-width: 400px;
    min-width: 300px;
}


.description
{
    padding: 50px;
}

.description p 
{
    padding: 17px 0 35px 0;
    font-size: 1.1em;
}

.btn3
{
    border: 1px solid black;
}

/* SECTION 3 */
.card
{
    width: calc(100% / 3 - 50px);
    margin-right: 50px;
    padding: 20px 0;
    min-width: 250px;
}
.card h3
{
    padding-bottom: 12px;
}

/* SECTION 5 */
.square-big
{
    width: calc(100% / 3);
    min-width: 400px;
}
.square-mini
{
    width: calc(100% / 2);
    min-width: 100px;
    padding: 110px;
    position: relative;
}
.square-mini img 
{
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#logo-design-it
{
    width: 220px;
}
.central-box
{
    padding: 50px;
    background-color: var(--color-box-big);
}
.central-box hr
{
    width: 30%;
    margin: 30px 0;
}
.author
{
    padding: 35px 0;
}

/* SECTION 6 */
.section-6
{
    background-color: var(--color-bg-hero);
    padding: 80px;
}
.section-6 button
{
    width: 300px;
    font-size: 1.1em;
}
.section-6 h2
{
    color: var(--color-box-2);
    padding: 0;
}
/* SECTION 7 */
.question
{
    padding: 30px 0;
    border-top: 1px solid lightslategray;
}
.question:last-child
{
    border-bottom: 1px solid lightslategray;
}
summary
{
    list-style: none;
}
summary:hover
{
    cursor: pointer;
}

/* FOOTER */
footer
{
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    margin-top: 50px;
    padding-bottom: 30px;
}
footer h4
{
    padding-bottom: 15px;
}
footer a
{
    text-decoration: none;
    color: var(--color-bg-main);
}
footer ul li
{
    padding: 3px 0;
}
footer hr
{
    width: 90px;
    margin: 40px 0;    
}
footer select
{
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    border: none;
    text-decoration: none;
}





